#page-content {
  width: 50vw;
  height: 100vh;
  max-width: 2500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  h1 {
    font-size: 34px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2;
  }

  #friend-list-container {
    width: 60%;
    height: 100%;
    border-radius: 7px;
    border: 2px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    #friend-panel {
      width: 100%;
      height: 60px;
      background-color: rgb(201, 201, 201);
      border-radius: 15px;
      display: inline-flex;
      align-items: center;
      padding: 0 6% 0 2%;
      justify-content: flex-start;

      #pp {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: black;
        margin-right: 2%;
      }

      h1 {
        color: white;
        font-size: 2rem;
        margin: 0 auto 0 0;
      }

      #panel-friend-choice {
        display: flex;
        flex-direction: row;
        gap: 20%;
        width: 15%;
        justify-content: flex-end;

        .panel-friend-btn {
          width: 40px;
          height: 40px;
          border-radius: 15px;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          background-color: transparent;

          .panel-friend-btn-icon {
            font-size: 40px;
          }
          &:hover {
            cursor: pointer;
            background-color: whitesmoke;

            #panel-icon-decline {
              color: red;
            }

            #panel-icon-accept {
              color: green;
            }
          }
        }
      }
    }
  }
}
